body{
    font-family: 'Abril Fatface', cursive;
}

.imagen{
    width: 100%;
    height: 90vh;
    background-image: url(../img/hotel-1623064_1920.jpg);
    text-align: center;
}
.capa{
    width: 100%;
    height: 120vh;
    background: rgb(111, 222, 111, 0.4);
}
.imagen2{
    padding-top: 15vh;
}

.title {
    font-size: 70px !important;
    font-style: italic;
    -webkit-text-stroke: 3px black;
    color: transparent;
}

.title2 {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.contenedor{
    padding: 0 10em;
}

.cap1{
    width:100%;
    height: 160vh;
    background: #B5E6A0;
    padding: 1em;
    padding-left: 40vh;
}

#register{
    padding-top: 50px;
    margin-right: auto; margin-left: auto;
}

/* ---------------------------------------------------------- */
#contenroom{
  height: auto;
  padding-top: 10vh; padding-bottom: 6vh;
  background-image: url(../img/hotel-0000-0002.jpg);
}

#cr{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.row{
  opacity: 0.8;
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/* Estilo de las alertas "Sweet Alert" */
.swal-overlay {
    background-color: rgba(28, 163, 39, 0.45);
}

.swal-text {
    text-align: center;
    font-size: 20px;
}
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
/*Estilo de la barra*/

.font-barra {
    top: 82px;
    left: 0;
    background-image: url(../img/hotels-4014509_1920.jpg);
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 100;
}

#barra {
    left: 0;
    width: 200px;
    height: 100%;
    background: rgba(111, 222, 111, .5);
    position: fixed;
    color: #fff;
    z-index: 100;
}

#barra h2 {
    text-align: center;
    line-height: 3;
    font-size: 20px;
}

#barra li button{
    text-align: center;
    font-size: 18px;
}

#barra li {
    list-style: none;
    outline: 1px solid green;
}

.mover {
    text-align: left;
    width: 200px;
    height: 50px;
    border: none;
    background: none;
    color: white;
    text-decoration: none;
    transition: all .50s ease;
    font-size: 15px;
}

#barra li .mover:hover {
    padding-top: 10px;
    background-color: rgba(001,210,111, .7);
}

/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
.nav {
    background-color: #004d40;
}

.texcolor {
    color: white;
}

.texcolor:hover {
    color: white;
}

.texcolor:link {
    text-decoration: none;
}

.texcolor:link {
    text-decoration: none;
}

.footer {
    position: fixed;
    white-space: normal;
    left: 0px;
    bottom: 0px;
    height: 40px;
    width: 100%;
    color: white;
    background-color: #424242;
}
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
#contenroom{
    height: auto;
    padding-top: 10vh; padding-bottom: 6vh;
    background-image: url(../img/hotel-0000-0002.jpg);
}

.row{
    opacity: 0.8;
}
/* ---------------------------------------------------------- */

/* ---------------------------------------------------------- */
.conten1 {
    width: 100%;
    height: 50vh;
    background: #B5E6A0;
    padding-top: 50px;
}
.fond {
    width:100%;
    height:50vh;
    position: relative;
}

.conten2 {
    width: 100%;
    height: 54vh;
    border-radius: 10px;
    text-align: center;
    top: 0;
    position: absolute;
    padding: 70px 100px 100px 100px;
    background: rgba(111,222,111, .4);
}


.inp_tam {
    padding: 0 200px 0 200px;
}
/* ---------------------------------------------------------- */


/*=====================BANNNNNNNNNEEEEEEEEER======================== */

.banner{
    position: relative;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-out;
    animation: banner 28s infinite linear;
}

.banner-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center !important;
    background-color: rgb(111, 222, 111, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1{
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

.banner-content a{
    text-decoration: none;
    color: #FFF;
    padding: 9px 20px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.banner-content .btn:hover{
    background-color: #fff;
    color: #333;
}

@keyframes banner{
    0%{
        background-image: url('../img/img.jpg');
    }
    25%{
        background-image: url('../img/img.jpg');
    }


    26%{
        background-image: url('../img/img1.jpg');
    }
    50%{
        background-image: url('../img/img1.jpg');
    }


    51%{
        background-image: url('../img/img2.jpg');
    }
    75%{
        background-image: url('../img/img2.jpg');
    }


    76%{
        background-image: url('../img/img3.jpg');
    }
    100%{
        background-image: url('../img/img3.jpg');
    }

}

.space{
    margin-top: 10px;
}
/* ---------------------------------------------------------- */